.navbar {
    background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}

.footer {
    background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}

/*.navbar-item:hover {*/
/*    background-color: purple;*/
/*}*/

.navbar-dropdown::before {
    color: white;
}

.button {
    background: rgb(60, 16, 83);
    color: white;
}