/*@import "node_modules/bulma/sass/utilities/functions.sass";*/

html, body { height: 100vh; }

img {
    width: 50%;
}

.logo {
    width: 20%;
}

.navbar {
    background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.lichtschalter {
    filter: invert();
}

.footer {
    background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}

/*$input-arrow: $white;*/
.navbar-dropdown::before {
    color: white;
}

.button {
    background: rgb(60, 16, 83);
    color: white;
}

.is-link {
    color: whitesmoke; !important;
}