html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.undraw {
    width: 30%;
}

.logo {
    max-width: 20%;
    ;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
}

.navbar {
    background-color: rgb(60, 16, 83);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.gluehbirnen {
    position: relative;
}

.gluehbirne-an {
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s;
}

.gluehbirne-aus {
    position: relative;
    z-index: 1;
    left: -32.5px;
    opacity: 1;
    transition: opacity 0.5s;
}

.lichtschalter-aus{
    filter: invert();
    left: -33.5px;
    top: -3px;
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s;
}
.lichtschalter-an{
    filter: invert();
    left: -56px;
    top: -3px;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s;
}

.columns {
    height: 33.3%;
    width: 50%;
}

.footer {
    background-color: rgb(60, 16, 83);
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    /*height: 10%;*/
}

.navbar-dropdown::before {
    color: white;
}

.button {
    background: rgb(60, 16, 83);
    color: white;
}

.on {
    opacity: 1;
}

.off {
    opacity: 0;
}
.switch-off{
    opacity: 0;
}
.switch-on{
    opacity: 1;
}

.backgroundLight {
    background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}

.footerLight {
    background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
}

.container {
    height: 100%;
    width: 90%;
}

/*.subtitle {*/
/*    background: white;*/
/*}*/

/*.title {*/
/*    background: white;*/
/*}*/

.navbar-menu.is-active a.navbar-item,
.navbar-menu.is-active .navbar-dropdown a.navbar-item {
    color: purple !important;
}

.progress-bar {
    height: 10px;
    background: rgb(173, 83, 137);
    width: 0%;
    z-index: 1;
    bottom:0;
    position:fixed;
}

.hintergrund {
    background-image: url("bilder/Pfad.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.kontaktbild {
    border-radius: 10%;
}

.card {
    border-radius: 10%;
}

a {
    color: white;
}

a:hover {
    color: rgb(173, 83, 137);
}